.navbar-global {
    /* a Global size limit*/
    align-content: center;
}

.narrow80{
    padding-left: 10%;
    padding-right: 10%;
}

.narrow76{
    padding-left: 12%;
    padding-right: 12%;
}

.narrow90{
    padding-left: 5%;
    padding-right: 5%;
}

.heigh80{
    padding-top: 10%;
    padding-bottom: 10%;
}
.heigh90{
    padding-top: 5%;
    padding-bottom: 5%;
}
.top3{
    padding-top: 3%;
}
.bottom2{
    padding-bottom: 2%;
}
.bottom5{
    padding-bottom: 5%;
}

.navi {
    background-color: rgb(75, 176, 158);
    height: inherit;
}

.navi-opt {
    margin-top: 5px;
    padding-bottom: auto;
    color: white;
    font-size: 18px;
}

.navi-opt > a {
    padding: 2px 2px 2px 2px;
    color: white;
}


.nav-size {
    height: inherit;
}

.navi-container {

    /*height: 100px;*/
}

.bs-docs-footer .container-footer {
    padding-top: 20px;
    background-color: rgb(100, 100, 100);
    text-align: center;
    align-items: center;
    color: rgb(225, 225, 225);

}

.bs-docs-footer-links {
    width: 500px;
    margin-left: auto;
    margin-right: auto;


}

.container {
    min-height: 90%;
    width: inherit;
    padding-left: 0px;
    padding-right: 0px;
}

.pad-container{
    padding-top: 10%;
    padding-bottom: 2%;

}

.bs-docs-footer-links > li {
    display: table-cell;
    width: 1%;
}

.bs-docs-footer-links > li > a {
    color: rgb(225, 225, 225);
}

.empty-1 {
    height: 20px;
}

.content-panel {
    padding-top: 74px;
    padding-bottom: 20px;
    align-items: center;
    min-height: 100%;
}

.yy-card {
    padding: 20px 20px 20px 20px;
}

.address{
    font-size: 18px;
}

.instgram-addr{
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
    font-family: "Lantinghei SC";
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    color: white;
    background-color: inherit;
}

.moved-curser {
    border: 3px solid transparent;
    border-collapse: collapse;
    padding: 5% 20%;
}

.moved-curser:hover {
    border-color: white;
}

.email-zone{
    font-size: 25px;
    height: 70px;
    width: 250px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-group{
    text-align: center;
    display: table;
    margin-bottom: 10px;
}

.yy-bar{
    margin-top: 0px;
    margin-bottom: 0px;
}
.yy-content{
    padding-top: 15px;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}
.btn-yy{
    height: 50px;
    width: 180px;
    border: none;
    background-color: #efaaa9;
    font-size: 24px;
    color: #FFFFFF;
}

.thumbnail{
    box-shadow: none;
    border: none;
}
.yy-blog-title{
    color: #44BDA7;
    font-size: 25px;
}

.yy-theme-color{
    color: #44BDA7;

}

.first_frame{
    width: 100%;
    text-align: center;

}


.frame{
    width: 100%;
    background-color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

.home-shop-button {
    position: absolute;
    margin-top: -200px;
    margin-left: -100px;
    height:80px;
    width: 200px;
    background-color:  #efaaa9 ;
    border-style: none;
    color: white;
    font-size: 18px;
}

.align-center{
    text-align: center;
}

.middle-panel{
    align-items: center;
}
.shop-card{
    margin: 30px 30px 30px 30px;
}


.non-padding{
    margin-top: 0px;
}
.vertical-line{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
}

.description{
    font-size: 20px;
    padding-bottom: 4px;
    padding-top:4px;
    font-family: 'Lantinghei SC';
}

.price{
    font-size: 22px;
    padding-top: 6%;
    color:purple;
    font-weight: 400;
}

.purple{
    color: purple;
}

.shop-detail-left{
    padding-right: 20%;
}
.shop-detail-right{
    padding-left: 20%;
}


.shop-detail{
    padding-left: 10%;
    padding-right: 10%;
}
.receipt{
    color: darkgrey;
    font-size: 18px;
    float: left;
}

.wider{
    padding-left: 0%;
    padding-right: 0%;
}

.product-footer{
    font-size: 20px;

}

.sign-up{
    font-size: 20px;
}

.blog-summary{
    padding-right: 3%;

}

.brand-yy{
    max-width: 150px;
}
.Add-tocart{
    margin: 10px 0px;
    padding: 10px 30px;
    background-color: purple;
    color: white;
    border: none;
}

.subtitle{
    font-size: 23px;
}
.sm-title{
    font-size: 20px;
    font-weight: 500;
}

.title-shop{
    font-weight: 500;
    font-size: 20px;
}