.navbar-global {
    /* a Global size limit*/
    align-content: center;
}

.navi {
    background-color: rgb(75, 176, 158);
    height: inherit;
}

.navi-opt {
    margin-top: 15px;
    padding-bottom: auto;
    color: white;
    padding-top: 5px;
    font-size: 24px;
}

.navi-opt > a {
    padding: 2px 2px 2px 2px;
    color: white;
}


.nav-size {
    height: inherit;
}

.navi-container {

    height: 100px;
}

.bs-docs-footer .container-footer {
    padding-top: 20px;
    background-color: rgb(100, 100, 100);
    text-align: center;
    align-items: center;
    color: rgb(225, 225, 225);

}

.bs-docs-footer-links {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.container {
    min-height: 90%;
}
.bs-docs-footer-links > li {
    display: table-cell;
    width: 1%;
}

.bs-docs-footer-links > li > a {
    color: rgb(225, 225, 225);
}

.empty-1 {
    height: 20px;
}

.content-panel {
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    min-height: 100%;
}

.yy-card {
    padding: 20px 20px 20px 20px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    color: white;
    background-color: inherit;
}

.moved-curser {
    border: 5px solid transparent;
    border-collapse: collapse;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.moved-curser:hover {
    border-color: white;
}

.email-zone{
    height: 50px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-group{
    text-align: center;
    display: table;
    margin-bottom: 10px;
}

.yy-bar{
    margin-top: 0px;
    margin-bottom: 0px;
}
.yy-content{
    padding-top: 15px;
    font-size: 18px;
}
.btn-yy{
    height: 70px;
    width: 100px;
    border: none;
    background-color: #7C335D;
    font-size: 24px;
    color: #FFFFFF;
}

.thumbnail{
    box-shadow: none;
    border: none;
}
.yy-blog-title{
    color: #44BDA7;
}