{% extends 'base.html' %}
{% block content %}
    <div class="">
        <div class="blog-panel narrow76">
            <div class="row heigh90 bottom2">
                <div class="col-sm-9">
                    <div class="thumbnail">
                        <img src="/static/img/blog/big.png"></img>
                    </div>
                </div>

                <div class="yy-grid">
                    <div class="col-sm-3">
                        <hr class="yy-bar"/>
                        <p class="yy-content">Join us to stay up to date
                           on all things DIY, dessert&cake decoration!</p>

                        <div class="input-group ">
                            <input type="email" class=" email-zone" placeholder="Email address">
                            <button type="button" class="btn-yy">Start</button>
                        </div>
                        <div class="align-center">
                            <p>
                                <b>Instagram:<a href="https://www.instagram.com/dessertdecor_official/">@dessertdecor_offical</a></b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top3">
                <div class="col-sm-5 blog-summary">
                    <div class="thumbnail ">
                        <img src="/static/img/blog/sm_1.png">
                    </div>

                </div>
                <div class="col-sm-7 ">
                    <p class="yy-blog-title"><a href="/wework"> Dessert Decor  @Wework office</a></p>
                    <p class="datetime">Feb 24, 2016</p>
                </div>
            </div>

            <div class="row top3">
                <div class="col-sm-5 blog-summary">
                    <div class="thumbnail ">
                        <img src="/static/img/blog/sm_2.png">
                    </div>

                </div>
                <div class="col-sm-7">
                    <p class="yy-blog-title "><a href="">Dessert Decor  @The New School</a> </p>
                    <p class="datetime">Feb 22, 2016</p>
                </div>
            </div>

            <div class="row top3">
                <div class="col-sm-5 blog-summary">
                    <div class="thumbnail">
                        <img src="/static/img/blog/sm_3.png">
                    </div>

                </div>
                <div class="col-sm-7">
                    <p class="yy-blog-title"><a href="/facebook">Dessert Decor @Facebook page</a> </p>
                    <p class="datetime">Nov 4, 2015</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}