{% extends 'base.html' %}
{% block content %}


<div class="article narrow76 top3">
        <table>
            <tr>
                <td>
                    <div class="thumbnail narrow80 top3">
                        <a href="https://www.instagram.com/explore/tags/superhcookies/">
                            <img  class="narrow80" src="/static/img/challenges/1.png">
                        </a>
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80 top3">
                        <a href="">
                        <img  class="narrow80" src="/static/img/challenges/2.png">
                        </a>
                    </div>
                </td>

            </tr>
        </table>
</div>
{% endblock %}
