{% extends 'base.html' %}
{% block content %}

    <div class=" yy-content pad-container">

    <div class="row">
        <div class="col-lg-8">
            <div class="shop-detail">
                <div class="thumbnail">
                    <img src="/static/img/cheese%20cake%20detail/_DSC3836.png">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="purple">
                <div class="row">
                    <div class="col-sm-9 vertical-line description">
                        <div class="description">Butter Koekje decoration kit</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="price">$12</div>
                    </div>
                </div>
            </div>
            <div class="quantity">Quantity</div>
            <div class="input-wrapper">
                <input type="text">
            </div>

            <div class="button-wrapper">
                <button type="button" class="Add-tocart">Add to cart</button>
            </div>

            <div class="sm-title">
                <p>We do catering!</p>
                <p>Please Email us at
                    <a href="mailto:dessertdecoroffical@gmail.com">dessertdecoroffical@gmail.com</a>
                </p>
            </div>

            <div class="product-content">
                <p>Dessert Decor Blueberry cheesecake Kit provides the necessary tools and components in your DIY
                    dessert! Decorate your own cake now! Designed for ages eight and up.</p>
                <p>Order your Dessert Decor blueberry cheese cake Kit. Ships week of purchase.</p>
            </div>
        </div>

    </div>

    </div>

{% endblock %}