{% extends 'production.html' %}
{% block inner %}

    <div class=" pad-container">

    <div class="row">
        <div class="col-lg-8">
            <div class="shop-detail-left">
                <div class="thumbnail">
                    <img src="/static/img/cheese%20cake%20detail/_DSC3836.png">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="purple bottom5">
                <div class="row">
                    <div class="col-sm-9 vertical-line description">
                        <div class="description">Butter Koekje decoration kit</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="price">$12</div>
                    </div>
                </div>
            </div>

            <div class="button-wrapper top3 bottom2">
                <button type="button" class="Add-tocart">Buy</button>
            </div>

            <div class="sm-title">
                <p>We do catering!</p>
                <p>Please Email us at
                    <a href="mailto:dessertdecoroffical@gmail.com">dessertdecoroffical@gmail.com</a>
                </p>
            </div>

            <div class="product-content top3 bottom2">
                <p>Dessert Decor Blueberry cheesecake Kit provides the necessary tools and components in your DIY
                    dessert! Decorate your own cake now! Designed for ages eight and up.</p>
                <p>Order your Dessert Decor blueberry cheese cake Kit. Ships week of purchase.</p>
            </div>
        </div>

    </div>

    <div class="row bottom5">
        <div class="col-lg-7">

            <div class="shop-detail-left">
                <div class="thumbnail">
                    <div class="purple">
                        <div class="subtitle">
                            <p>What's in the blue cheesecake decoration kit?</p>
                        </div>
                    </div>
                    <div class="receipt">
                        <p>Manual</p>
                        <p>A 5" * 3" Blueberry Cheese cake</p>
                        <p>2 Decoration bags</p>
                        <p>2 Nozzle with different sizes</p>
                        <p>1 tweezers</p>
                        <p>3 Decoration suger flowers</p>
                        <p>30g pink decoration glitter powder</p>
                        <p>50g heavy cream</p>
                        <p>2g green/red/blue food coloring</p>
                        <p>15 Decoration pearls</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="shop-detail-right">
                <div class="thumbnail">
                    <img src="/static/img/cheese%20cake%20detail/_DSC3824%202.png">
                </div>
            </div>
        </div>
    </div>

    <div class="shop-detail wider">

        <div class="thumbnail">
            <img src="/static/img/cheese%20cake%20detail/pic1.png">
        </div>
    </div>


    <div class="shop-detail wider bottom2">

        <div class="thumbnail">
            <img src="/static/img/cheese%20cake%20detail/pic2.png">
        </div>
    </div>


    <div class="purple top3">
        <div class="subtitle">
            <p>How can I play with blueberry cheesecake decoration kit?</p>
        </div>
    </div>

    <div class="row top3">
        <div class="col-lg-5">
            <div class="thumbnail">
                <a href="/tips">
                    <img src="/static/img/cheese%20cake%20detail/_DSC3801.png">
                </a>

            </div>
        </div>
    </div>

    </div>

{% endblock %}
