{% extends 'base.html' %}
{% block content %}

<div class="first_frame">
<span>
    <img  class="frame" src="/static/img/home/banner1.png">
    <span>
        <button type="button" class="home-shop-button" onclick="window.location.href='/shop'">SHOP KITS</button>
    </span>
</span>
</div>
<div class="row narrow80 heigh90">
    <div class="col-sm-6">

    <img src="/static/img/home/ppp.png" class="frame">
    </div>
    <div class="col-sm-6">
    <img src="/static/img/home/pic1.png" class="frame">
    </div>
</div>
<div class="">
    <div class="frame2">
        <div class="align-center">
            <p class="bottom2">"THE HOT NEW TREND"</p>
            <p class="bottom2">SELF-DECORATED DESSERT AS A GIFT?</p>
            <p >YOU CAN DO IT!</p>
        </div>
    </div>
</div>

<div class="align-center yy-content">
    <div class="container sign-up top3 bottom2">
        <div class="sign-up">
            <p>Sign up for DESSERT DECOR awesomeness!</p>
        </div>
    </div>
    <div class="container bottom5 ">
        <div class="middle-panel">
            <input type="text" class="email-zone2" placeholder="Email address">
            <button type="button" class="btn-yy top1px" >Start</button>
        </div>
    </div>

    <div class="narrow90 bottom2">
        <table>
            <tr>
                <td>
                    <div class="thumbnail narrow80">

                        <img src="/static/img/home/20.pic.png">
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80">

                        <img src="/static/img/home/19.pic.png">
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80">

                        <img src="/static/img/home/17.pic.png">
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80">

                        <img src="/static/img/home/31.pic.png">
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80">

                        <img src="/static/img/home/3.pic.png">
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
{% endblock %}