{% extends 'base.html' %}
{% block content %}


<div class="article narrow76 top3">
    <div class="article-date align-center">
        <p>Feb 24, 2016</p>
    </div>
    <div class="article-title align-center">
        <p>DessertDecor @Wework office</p>
    </div>

    <div class="article-content">
        <p>
            Do you want some interesting activities to accompany your worktime?
            Do you want to decorate your snack by yourself?
            Foodplay held a Cookies Decoration Game at Wework office space!
        </p>
        <table class="heigh80">
            <tr>
                <td>
                    <div class="thumbnail narrow80 heigh80">

                        <img src="/static/img/blog/newschool/1.png">
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80 heigh80">

                        <img src="/static/img/blog/newschool/2.png">
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80 heigh80">

                        <img src="/static/img/blog/newschool/3.png">
                    </div>
                </td>

                <td>
                    <div class="thumbnail narrow80 heigh80">

                        <img src="/static/img/blog/newschool/4.png">
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <div class="article-content">
        <p>The cookie decoration game held in the public space of Wework , People are usually come to this place to take a rest or get some food/drinks.
            People from Wework are really enjoy this cookie decoration experience and expect more in the future.</p>
        <p>
            Sara said :"I feel very relax because It is a sort of colouring  but instead of worring color in the lines I can just make a mess and just eat it!"
        </p>
    </div>
    <div class="align-center top3 bottom5">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/6Zvi7U9H8gA" frameborder="0" allowfullscreen></iframe>
    </div>
</div>


{% endblock %}