{% extends 'production.html' %}
{% block inner %}

    <div class=" pad-container">

    <div class="row">
        <div class="col-lg-8">
            <div class="shop-detail-left">
                <div class="thumbnail">
                    <img src="/static/img/popcake/1.png">
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="purple bottom5">
                <div class="row">
                    <div class="col-sm-9 vertical-line description">
                        <div class="description">Popcake decoration kit</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="price">$8</div>
                    </div>
                </div>
            </div>

            <div class="button-wrapper top3 bottom2">
                <a type="button" class="Add-tocart" href="/pay?id=3">Buy</a>
            </div>


            <div class="sm-title">
                <p>We do catering!</p>
                <p>Please Email us at
                    <a href="mailto:dessertdecoroffical@gmail.com">dessertdecoroffical@gmail.com</a>
                </p>
            </div>

            <div class="product-content top3 bottom2">
                <p>Dessert Decor Popcake Kit provides the necessary tools and components in your DIY dessert!
                    Decorate your own cake now! Designed for ages eight and up.</p>
                <p>Order your Dessert Decor blueberry cheese cake Kit. Ships week of purchase.</p>
            </div>
        </div>

    </div>

    <div class="row bottom5">
        <div class="col-lg-6">

            <div class="shop-detail-left">
                <div class="thumbnail">
                    <div class="purple">
                        <div class="subtitle">
                            <p>What's in the Popcake decoration kit?</p>
                        </div>
                    </div>
                    <div class="receipt">
                        <p>Manual</p>
                        <p>5 popcakes</p>
                        <p>1 tweezer</p>
                        <p>1 black chocolate bar</p>
                        <p>1 white chocolate bar</p>
                        <p>1 pink gliter powder</p>
                        <p>1 silver gliter powder</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="shop-detail-right">
                <div class="thumbnail">
                    <img src="/static/img/popcake/2.png">
                </div>
            </div>
        </div>
    </div>

    <div class="shop-detail wider">

        <div class="thumbnail">
            <img src="/static/img/popcake/3.png">
        </div>
    </div>


    <div class="shop-detail wider bottom2">

        <div class="thumbnail">
            <img src="/static/img/popcake/4.png">
        </div>
    </div>


    <div class="purple top3">
        <div class="subtitle">
            <p>How can I play with blueberry cheesecake decoration kit?</p>
        </div>
    </div>

    <div class="row top3">
        <div class="col-lg-5">
            <div class="thumbnail">
                <a href="/tips">
                <img src="/static/img/popcake/5.png">
                </a>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
