{% extends 'base.html' %}
{% block content %}

    <!-- 2 for each line-->
    <div class="narrow80 heigh80">
        <div class="row">
                <div class="col-sm-6 align-center">
                    <div class="card yy-card">
                        <div class="thumbnail">
                            <div class="media">
                                <a href="https://youtu.be/Mu1V2NoAZqI">
                                    <img src="/static/img/tips/tips1.png"></img>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 align-center">
                    <div class="card yy-card">
                        <div class="thumbnail">
                            <div class="media">
                                <a href="https://youtu.be/gaNmZmwdLqY">
                                    <img src="/static/img/tips/tips2.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-sm-6 align-center">
                <div class="card yy-card">
                    <div class="thumbnail">
                        <div class="media">
                            <a href="https://youtu.be/gaNmZmwdLqY">
                                <img src="/static/img/tips/31.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}